eawx-build/Configuration/v1/eaw-ci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/eaw-ci/" xmlns:eawci="http://www.example.org/eaw-ci/">
    <simpleType name="RelativeFilePath">
        <annotation>
            <documentation>A relative file path.</documentation>
        </annotation>
        <restriction base="string">
            <pattern
                    value="[a-z0-9]([a-z0-9\-]*[a-z0-9])?(/[a-z0-9]([a-z0-9\-]*[a-z0-9])?)*(/[a-z0-9]([a-z0-9\-\.]*[a-z0-9])?)?">
            </pattern>
        </restriction>
    </simpleType>

    <complexType name="Task">
        <choice minOccurs="1" maxOccurs="1">
            <element name="Reference" type="eawci:TaskReference"/>
            <element name="Task" type="eawci:AbstractTask"/>
        </choice>
        <attribute name="ID" type="string"/>
        <attribute name="Name" type="string"/>
    </complexType>

    <complexType name="Project">
        <sequence>
            <element name="Jobs" type="eawci:Job" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="ID" type="string"/>
        <attribute name="Name" type="string"/>
    </complexType>

    <complexType name="Job">
        <sequence>
            <element name="Tasks" type="eawci:TaskList" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="Name" type="string"/>
        <attribute name="ID" type="string"/>
    </complexType>

    <complexType name="CopyTask">
        <complexContent>
            <extension base="eawci:AbstractTask">
                <sequence>
                    <element name="SourceDirectory" type="eawci:RelativeFilePath" maxOccurs="1" minOccurs="1"/>
                    <element name="TargetDirectory" type="eawci:RelativeFilePath" minOccurs="1" maxOccurs="1"/>
                    <element name="Recursive" type="boolean" minOccurs="1" maxOccurs="1"/>
                    <element name="FilePattern" type="eawci:FilePattern" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="FilePattern">
        <restriction base="string">
            <pattern value="((\*[a-zA-Z0-9_-]*)(.)([a-zA-Z]+)|\*)"/>
        </restriction>
    </simpleType>

    <complexType name="TaskReference">
        <sequence>
            <element name="TaskId" type="string"/>
        </sequence>
    </complexType>

    <complexType name="AbstractTask">
    </complexType>

    <complexType name="RunTask">
        <complexContent>
            <extension base="eawci:AbstractTask">
                <sequence>
                    <element name="Runner" type="eawci:Runner" minOccurs="1" maxOccurs="1"/>
                    <element name="Arguments" type="eawci:RunnerArgument" minOccurs="1" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="Runner">
        <restriction base="string">
            <enumeration value="CMD"/>
        </restriction>
    </simpleType>

    <complexType name="RunnerArgument">
        <sequence>
            <element name="CommandPrefix" type="string"/>
            <element name="Command" type="string"/>
            <element name="Argument" type="string"/>
        </sequence>
    </complexType>

    <complexType name="BuildConfiguration">
        <sequence>
            <element name="GlobalTaskDefinitions"
                     type="eawci:GlobalTaskDefinition" minOccurs="0" maxOccurs="1">
            </element>
            <element name="Projects" type="eawci:Project" minOccurs="1"
                     maxOccurs="unbounded">
            </element>
        </sequence>
        <attribute name="Version" type="eawci:SemVerVersion"/>
    </complexType>

    <complexType name="GlobalTaskDefinition">
        <sequence>
            <element name="TaskDefinition" type="eawci:TaskDefinition" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="TaskDefinition">
        <sequence>
            <element name="Task" type="eawci:AbstractTask"/>
        </sequence>
        <attribute name="ID" type="string"/>
    </complexType>

    <simpleType name="SemVerVersion">
        <restriction base="string">
            <pattern
                    value="(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?">
            </pattern>
        </restriction>
    </simpleType>

    <element name="BuildConfiguration"
             type="eawci:BuildConfiguration">
    </element>

    <complexType name="TaskList">
        <sequence>
            <element name="Task" type="eawci:Task" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
